<!DOCTYPE html>
<html lang="en">

<head class = "pinHead">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Barrier Buster Map</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapiFhs.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Pin Data -->
    <input type="hidden" id="allPins" value="{{allPins}}" />
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class = "pinBody" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'BarrierBuster:index' %}">
                    <i class="fa fa-play-circle"></i>  <span class="light"></span>Barrier Buster Map
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'BarrierBuster:index' %}#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'BarrierBuster:index' %}#map">Map</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'BarrierBuster:index' %}#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    

    <script src="/static/js/barrierbuster.js"></script>

    <!-- Map Section -->
    <div id="map"></div>
    <!-- Form Section -->   
    <div id="form">
        <form   id="pinform" class="formArea" role="form" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="form1" style="padding-left: 120px">
                <label for="tag" class="control-label" style="padding-right: 52px">{{ form1.tag.label_tag }}
                    <span style="font-size: 20px;color: red">*</span></label>
                <br> {{ form1.tag }}
                <strong>{{ form1.tag.errors }} </strong>
                </div>
                <div class="form1" style="padding-left: 120px">
                <label for="status" class="control-label" style="padding-right: 52px">{{ form1.status.label_tag }}
                    <span style="font-size: 20px;color: red">*</span></label>
                <br> {{ form1.status }}
                <strong>{{ form1.status.errors }} </strong>
                </div>
                <div class="form1" style="padding-left: 120px">
                <label for="description" style="padding-right: 52px">{{ form1.description.label_tag }}</label>
                <br> <div style="color: black">{{form1.description }}</div>
                <strong>{{ form1.description.errors }} </strong>
                </div>
                <p> Please mark the location on the map: (latitude and longitude fields will be automatically filled)</P>
                <div class="form1" style="padding-left: 120px">
                <label for="address" class="control-label" style="padding-right: 52px">{{ form1.address.label_tag }}</label>
                <br> <div style="color: black">{{ form1.address }}</div>
                <strong>{{ form1.address.errors }} </strong>
                </div>
                <div class="form1" style="padding-left: 120px">
                <label for="location_latitude" class="control-label" style="padding-right: 52px">{{ form1.location_latitude.label_tag }}</label>
                <br> <div style="color: black">{{ form1.location_latitude }}</div>
                <strong>{{ form1.location_latitude.errors }} </strong>
                </div>
                <div class="form1" style="padding-left: 120px">
                <label for="location_longitude" class="control-label" style="padding-right: 52px">{{ form1.location_longitude.label_tag }}</label>
                <br> <div style="color: black">{{ form1.location_longitude }}</div>
                <strong>{{ form1.location_longitude.errors }} </strong>
                </div>
                <div class="form1" style="padding-left: 120px">
                <label for="location_longitude" >{{ form1.img.label_tag }}</label>
                <br> {{ form1.img }}
                <strong>{{ form1.img.errors }} </strong>
                </div>
                <p><input type="submit" class="btn btn-danger btnpo2" style="margin-left: 120px" name="submit" value="Create"/></p>
        </form>
    </div>
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Rick Hansen Foundation 2015</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/grayscale.create.pin.js"></script>

    <div id="map_canvas" style="width:50%; height:50%"></div>

</body>

</html>
