<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Barrier Buster Map</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/grayscale.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapiFhs.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light"></span>Barrier Buster Map
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#tags">Tags</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#mapContainer">Map</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Success is measured by</h1>
                        <p class="intro-text">HOW YOU LIVE YOUR LIFE</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-us container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p class = "aboutUs">ABOUT US</p>
                <p class = "aboutUsDetails">OUR MISSION</p>
                <p class ="aboutUsParagraph">Paragraph</p>
                <p></p>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <section id="tags" class="tags-section-outer content-section text-center">
        <div class="tags-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class ="barrierBusterTagsHeader">BARRIER BUSTER</p>
                    <p class ="tagsHeader">THE TAGS</p>
                    <p>Add and view Pins</p>
                </div>
            </div>
        </div>
    </section>

    <section id="mapContainer">
        <!-- Buttons -->
        <a href="#addMenu" class="page-scroll"><span id="addButton" class="btn-lg glyphicon glyphicon-plus"></span></a>
        <a href="#searchMenu" class="page-scroll"><span id="searchButton" class="btn-lg glyphicon glyphicon-search"></span></a>

        <!-- Map -->
        <div id="map"></div>

        <!-- Add Pin Menu -->
        <div id="addMenu" class="container" style='display: none'>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="text-center">
                    <h3>Add Pin</h3>
                    <p><a href="{% url 'BarrierBuster:createPin' %}">Add a Pin to the Map</a></span></p>
                </div>
                <!-- Put Add Pin Form Here -->
                {% if messages %}
                    <ul class= "messages">
                    {% for message in messages %}
                    <p style="color:red"><strong>{{ message }}</strong></p>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <!-- Search Pins Menu -->
        <div id="searchMenu" class="container" style='display: none'>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="text-center">
                    <h3>Search Pins</h3>
                    <p><a href="{% url 'BarrierBuster:searchPin' %}">Search Barriers and Best Practices by Type and Location</a></p>
                </div>
                <ul>
                    <!-- Put form here -->
                </ul>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Rick Hansen Foundation</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <p><a href="mailto:info@rickhansen.com">info@rickhansen.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/RickHansenFdn" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Rick Hansen Foundation 2015</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/grayscale.js"></script>

    <!-- Barrier Busters Application JavaScript -->
    <script src="/static/js/application.js"></script>
    <script src="/static/js/barrierbuster.js"></script>

</body>

</html>
