<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Barrier Buster Map</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapiFhs.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Pin Data -->
    <input type="hidden" id="allPins" value="{{allPins}}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'BarrierBuster:index' %}">
                    <span class="light"></span><img class = "rHlogo" src="/static/img/RickHansen_Logo.png"></img>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'BarrierBuster:index' %}#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'BarrierBuster:index' %}#map">Map</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'BarrierBuster:index' %}#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    

    <script src="/static/js/barrierbuster.js"></script>

    <!-- Map Section -->
    <div id="map"></div>
    <!-- Form Section -->   
    <div class="container text-center" style="padding-top: 50px; padding-bottom: 50px">
    <h2>Search Pins</h2>
    <p>Search Barriers and Best Practices by Type and Location</p>
    </div>
    <div id="form">
        <form   id="searchform" role="form" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="form" style="padding-left: 120px">
                <label for="tag" class="control-label" style="padding-right: 52px">{{ searchForm.tag.label_tag }}
                    <span style="font-size: 20px;color: red">*</span></label>
                <br> {{ searchForm.tag }}
                <strong>{{ searchForm.tag.errors }} </strong>
                </div>
                <div class="form" style="padding-left: 120px">
                <label for="status" class="control-label" style="padding-right: 52px">{{ searchForm.status.label_tag }}
                    <span style="font-size: 20px;color: red">*</span></label>
                <br> {{ searchForm.status }}
                <strong>{{ searchForm.status.errors }} </strong>
                </div>
               
                <p><input type="submit" class="btn btn-danger btnpo2" style="margin-left: 120px" name="submit" value="Search"/></p>
        </form>
    </div>

    <div id="pinlist" class="container col-md-8">
        {% if pin_list %}
        <div class="text-center">
        <h2> Pin List</h2>
        </div>
        <table class="table"  >
            <thead>
            <tr>
                    <th>Tag</th>
                    <th>Status</th>
                    <th>Address</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
            </thead>
            {% for pin in pin_list %}
                <tr class="active" style="color: black">
                    <td><a href="{% url 'BarrierBuster:pindetail' pin.id %}">{{pin.id}}</a></td>
                    <td>{{pin.tag}}</td>
                    <td>{{pin.status}}</td>
                    <td>{{pin.address}}</td>
                    <td>{{pin.location_latitude}}</td>
                    <td>{{pin.location_longitude}}</td>
                </tr>  
           {% endfor %}        
        </table>
        
        {% endif %}
    </div>

    <div id="pinlist">
        {% if pin %}
        <h2 class="bg-info"> Pin {{pin.id}} Detail:</h2>
         <li>Tag: {{pin.tag}}</ls>
         <li>Status: {{pin.status}}</li>
         <li>Description: {{pin.description}}</li>
         <li>Address: {{pin.address}}</li>
         <li>Latitude: {{pin.location_latitude}}</li>
         <li>Longitude: {{pin.location_longitude}}</li>
         <li>Image: {{pin.img}}</li>
        {% endif %}
    </div>
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; 2015 Rick Hansen Foundation</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/grayscale.js"></script>

</body>

</html>
